@model FinalProject.Models.StockPurchaseEntry

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>StockPurchaseEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Purchased_Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Purchased_Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount_Paid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount_Paid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_At)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_At)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Users.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
